<div class="col-md-6">
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.firstName}}" placeholder="First Name" name="firstName" required>
    <label for="floatingInput">First Name</label>
</div>
</div>
<div class="col-md-6">
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.lastName}}" placeholder="Last Name" name="lastName" required>
    <label for="floatingInput">Last Name</label>
</div>
</div>
<div class="col-md-6">
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="email@email.com" name="email" required>
    <label for="floatingInput">email</label>
</div>
</div>
<div class="col-md-6">
<div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone" name="phone" required>
    <label for="floatingInput">Phone</label>
</div>
</div>
<div class="col">
<div class="form-floating mb-3">
    <textarea class="form-control" id="comments" placeholder="Leave a comment here.." name="comments" style="height: 200px;">{{this.comments}}</textarea>
    <label for="floatingInput">Comments</label>
</div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>